.container {
    text-align: center;
}
.title, .status {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    margin-top: 50px;
    color: white;
    font-size: 60px;
}
.status {
    color: lightslategray;
    font-size: 20px;
    padding-bottom: 40px;
}
.reset {
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 26px;
    color: white;
    opacity: .6;
}
.reset:hover {
  opacity: 1;
}
.boxes {
    height: 180px;
    width: 180px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
    margin: 0;
    
}
.board {
    height: 600px;
    width: 564px;
    margin: auto;
}
.boxes img[src=""],
.boxes img:not([src]) {
  height: 70px;
  visibility: hidden; 
}
.boxes img[src="*"]{
  opacity: 1;
}
